<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Test</title>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		
		<!-- My CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/mystyle.css}">
	</head>
	<body>
	
		<header style="background: lightblue; line-height: 100px">Header 영역</header>		
		<nav style="background: orange; line-height: 50px">Navbar 영역</nav>
		
		<main style="background: #f0f0f0; line-height: 300px">
			<th:block layout:fragment="testFragment"></th:block>
		</main>		
		
		<footer style="background: gray; line-height: 100px">Footer 영역</footer>
		
	</body>
</html>